/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-size: 14px;
    color: white;
}
body {
    background-color: hsl(0, 0%, 8%);
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
}
/* Custom Style */
.wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
}
.socila-block {
    padding: 30px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
    /* min-width: 350px; */
}
.social-info-box {
    line-height: 1.7;
    padding: 0 30px;
}
.social-photo {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}
.social-name {
    font-size: 24px;
    font-weight: 600;
}
.social-location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;

}
.social-description {
    color: rgb(187, 187, 187);
    margin-top: 15px;
    margin-bottom: 15px;
}
.social-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.social-link {
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 15px 20px;
    font-weight: 600;
}

/* :: Style */
.social-link:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}
/*  */
/* Media Screen */
@media (max-width: 500px) {
    .wrapper {
        padding: 0 10px;
    }
    .social-info-box {
        padding: 0 5px;
    }
}
