/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Figtree:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
/* ## */

/* DEFAULT STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Figtree';
    font-size: 16px;
    font-weight: 500;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
    margin: 0 auto;
}
/* ## */
.card-box {
    margin: 0 20px;
    padding: 1em;
    min-width: 320px;
    max-width: 350px;
    border: 1px solid #000;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #000;
    background-color: #fff;
}
/* .card-image {} */
    .card-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 15px;
    }
.card-category {
    margin: 10px 0;
    padding: 5px 15px;
    width: fit-content;
    font-weight: 800;
    border-radius: 3px;
    background-color: hsl(47, 88%, 63%);
}
.card-publish {
    display: flex;
    gap: 5px;
}
.card-text {
    margin: 10px 0 15px 0;
    line-height: 1.5;
}
.card-title {
    font-weight: 800;
    transition: color .1s ease-in-out;
}
    .card-title:hover {
        cursor: pointer;
        color: hsl(47, 88%, 63%);
    }
.card-description {
    color: hsl(0, 0%, 42%);
}
.card-author {
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-profile-image {
    max-width: 40px;
}
    .card-profile-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
.card-profile-name {
    font-weight: 800;
}
