/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --gradient: linear-gradient(
    90deg,
    rgba(255, 163, 153, 1) 0%,
    rgba(255, 77, 151, 1) 100%
  );
  --bg-color: hsl(229, 57%, 11%);
  --blue: hsl(228, 56%, 26%);
}

/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

html {
  background: var(--bg-color) url(../images/bg-desktop.png) no-repeat
    bottom/contain;
  min-width: 400px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.fylo--box {
  display: flex;
  gap: 2rem;
  width: 100%;
  max-width: 800px;
}
.fylo--wrapper {
  padding: 2rem;
}
.fylo--panel--box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  background-color: var(--blue);
  border-radius: 1rem 6rem 1rem 1rem;
}
.fylo--logo {
  max-width: 120px;
}
.fylo--logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fylo--items {
  display: flex;
  gap: 1rem;
}
.fylo--item {
  background-color: var(--bg-color);
  border: none;
  padding: 0.7rem;
  border-radius: 0.5rem;
}
.fylo--item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.fylo--status--box {
  gap: 1rem;
  width: 70%;
  height: max-content;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  background-color: var(--blue);
  margin-top: auto;
  position: relative;
}
.fylo--status--pop {
  position: absolute;
  bottom: 80%;
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  padding: 1rem;
  right: 2rem;
  font-size: 1rem;
  background-color: #fff;
}
.fylo--status--pop::before {
  content: "";
  position: absolute;
  bottom: -1.3rem;
  right: -1.5rem;
  clip-path: polygon(49% 31%, 0 32%, 51% 100%);
  width: 3rem;
  height: 3rem;
  background-color: #fff;
}
.fylo--status--pop p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  color: grey;
}
.fylo--status--pop span {
  font-weight: 700;
  color: #000;
  font-size: 2.5rem;
}
.fylo--status--bar {
  width: 100%;
  height: 1.2rem;
  border-radius: 1rem;
  padding: 0.1rem;
  background-color: var(--bg-color);
}
.fylo--status--progress {
  width: 70%;
  height: 100%;
  border-radius: 1rem;
  background: var(--gradient);
  position: relative;
  z-index: 1;
}
.fylo--status--progress::before {
  content: "";
  position: absolute;
  right: 0.1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
}
.fylo--status--progress .fylo--status--sub {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}
.fylo--status--sup p {
  color: #ffff;
  font-weight: 200;
}
.fylo--status--sup span {
  font-weight: 600;
}
.fylo--status--sub {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 550px) {
  html {
    background: var(--bg-color) url(../images/bg-mobile.png) no-repeat
      bottom/cover;
  }
  .wrapper {
    padding: 1rem;
  }
  .fylo--box {
    flex-direction: column;
    align-items: center;
  }
  .fylo--panel--box {
    width: 100%;
  }
  .fylo--status--box {
    width: 100%;
  }
  .fylo--status--pop {
    bottom: -25%;
    right: 30%;
    border-bottom-right-radius: 1rem;
  }
  .fylo--status--pop::before {
    display: none;
  }
}
