/* Шрифты */
@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);

/* Переменные */
:root {
  --bg-clr: hsl(217, 54%, 11%);
  --card-clr: hsl(216, 50%, 16%);
  --link-clr: #fff;
  --link-clr-hvr: hsl(178, 100%, 50%);
  --text-clr: hsl(215, 51%, 70%);
  --price-clr: hsl(178, 100%, 50%);
}

/* По умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Outfit', sans-serif;
  font-weight: 200;
  font-size: 18px;
}

html {
  margin: 0 auto;
  min-width: 375px;
  max-width: 1440px;
  background-color: var(--bg-clr);
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.wrapper {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 99vh;
}

a {
  color: var(--link-clr);
  transition: all .1s ease-in-out;
}

hr {
  border: none;
  background-color: hsl(215, 32%, 27%);
  width: 100%;
  height: 1px;
}

/* Эффекты */
a:hover {
  color: var(--link-clr-hvr);
}

.card__img a:hover:before {
  content: '';
  position: absolute;
  height: 99%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  background: var(--link-clr-hvr);
  border-radius: 15px;
}

.card__img a:hover:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  z-index: 2;
  background: url(../images/icon-view.svg) no-repeat center;
}

/* Карточка */
.card {
  background-color: var(--card-clr);
  min-width: 200px;
  max-width: 350px;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 20px 20px 10px hsl(215, 55%, 10%), -20px 20px 10px  hsl(215, 55%, 10%);
}

.card__img {
  margin: 0 0 1rem 0;
  position: relative;  
}
  .card__img a::before {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  .card__img img {
    border-radius: 15px;
  }

.card__link {
  font-weight: 400;
  font-size: 1.3rem;
}

.card__description {
  color: var(--text-clr);
  margin: 1rem 0;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.card__price,
.card__time {
  display: flex;
  gap: 0.5rem;
}

.card__price {
  color: var(--price-clr);
}
  .card__price img {
    width: 12px;
  }
  .card__price p {
    font-weight: 500;
  }

.card__time {
  color: hsl(215, 51%, 70%);
}
  .card__time img {
    width: 18px;
  }

.card__time p {
  font-weight: 400;
}

.card__creator {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.creator__logo {
  max-width: 30px;
}

.creator__logo img {
  border: 1px solid #fff;
  border-radius: 50%;
}

.creator__name {
  color: var(--text-clr);
}

/* Медиа */
@media (max-height: 600px) {
  html {
    min-height: 0;
  }
  .wrapper {
    padding: 0;
  }
  .card {
    max-width: 300px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important; /* Отключаем анимацию */
    transition: none !important; /* Отключаем транзишн */
  }
}
