/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

*::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
svg {
    fill: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 8px;
    width: 40px;
    height: 40px;
}
svg:hover {
    fill: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}
html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    transition: all 0.3 ease;
}
body {
    background: url("../images/bg-desktop.svg") hsl(257, 40%, 49%) no-repeat center/cover;
    max-width: 1920px;
    min-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
}
.wrapper {
    margin: 3rem 5rem;
}
.content-block {
    gap: 4rem;
    display: flex;
    flex-direction: row;
}
.picture-block {
    flex: 1;
}
.picture-block img {
    width: 85%;
    height: auto;
}
.text-block {
    flex: 0.7;
    line-height: 1.5;
    height: fit-content;
    min-width: 631px;
    margin-top: 50px;
}
.text-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3vw;
}
.text-description {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 2rem 0;
}
.register {
    margin: 3rem 0 0 0;
}
.register a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    text-decoration: none;
    color: hsl(257, 40%, 49%);
    padding: 1rem 4rem;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #0009;
}
.register a:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}
.social-block ul {
    display: flex;
    height: fit-content;
    justify-content: end;
    gap: 1rem;
}
.social-block li {
    list-style: none;
}
.social-block img {
    width: 40px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 50%;
}   
.social-block img:hover {
    filter: none;
    border: 1px solid hsl(300, 69%, 71%);
    fill: hsl(300, 69%, 71%);
}

/* MEDIA */
@media (max-width: 1023px) {
    .wrapper {
        margin: 3em 5em 2em 5em;
    }
    body {
        background: url("../images/bg-mobile.svg") hsl(257, 40%, 49%) no-repeat top/contain;
        min-width: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo img {
        width: 10em;
    }
    .content-block {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    .picture-block img {
        width: 100%;
    }
    .text-block {
        min-width: 0;
        line-height: 1.5;
        margin: 20px 0;
    }
    .text-title {
        font-size: clamp(1rem, 0.5rem + 5vw, 5rem);
    }
    .text-description {
        font-size: clamp(0.5rem, 0.5rem + 2vw, 2rem);
        line-height: 1.1;
        margin: 1rem;
    }
    .register a {
        font-size: 3vw;
        padding: 1.5vh 20vw;
    }
    .social-block ul {
        justify-content: center;
    }
    .social-block img {
        width: 2em;
        padding: 0.5em;
    }
}
@media (max-width: 768px) {
    .wrapper {
        margin: 2em 3em 1em 3em;
    }
    .picture-block img {
        width: 100%;
    }
    .text-title {
        font-size: 4vw;
    }
    .text-description {
        font-size: 3vw;
    }
    .register a {
        font-size: 3vw;
    }
}
@media (max-width: 400px) {
    svg {
        width: 30px;
        height: 30px;
    }
    .wrapper {
        margin: 2em 3em 1em 3em;
    }
    .picture-block img {
        width: 90%;
    }
    .text-title {
        font-size: larger;
    }
    .text-description {
        font-size: small;
    }
    .footer-block {
        margin: 2vh;
    }
}
