/* Шрифты */
@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);

/* Переменные */
:root {
  --bg-clr: hsl(185, 75%, 39%);
  --pattern-top: url(../images/bg-pattern-top.svg) no-repeat;
  --pattern-btm: url(../images/bg-pattern-bottom.svg) no-repeat;
  --bg-card: url(../images/bg-pattern-card.svg) no-repeat center/cover;
}

/* По умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 375px;
  background: var(--bg-clr);
  
}

body {
  position: relative;
  z-index: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  animation: circle-to-square 3s ease-in-out;
}

/* Паттерны */
.pattern--top,
.pattern--btm {
  max-width: 100%;
  display: block;
  position: fixed;
  transform: scale(1);
  z-index: -1;
}
  .pattern--top {
    min-height: 110%;
    max-height: 110%;
    min-width: 55%;
    max-width: 55%;
    left: -5vw;
    top: -60vh;
  }
  .pattern--btm {
    right: -10vw;
    bottom: -70vh;
    min-width: 70%;
    max-width: 70%;
    max-height: 110%;
    min-height: 110%;
  }

/* Карточка */
.card {
  width: 400px;
  height: auto;
  cursor: default;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px #0003;
  overflow: hidden;
}

.card--header {
  min-height: 150px;
  background: var(--bg-card);
}

.card--content {
  padding: 2rem;
}

.card--main {
  text-align: center;
  transform: translate(0%, -50%);
}
  .card--main img {
    border: 5px solid #fff;
    border-radius: 50%;
  }
.card--name {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  font-weight: 600;
}
  .card--name span {
    color: grey;
    font-weight: 400;
  }

.card--loc {
  font-size: 1rem;
  color: grey;
}

.card--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card--stat {
  text-align: center;
  transition: color .2s;
}
  .card--stat span {
    font-size: 1.2rem;
    font-weight: 800;
  }
  .card--stat p {
    color: grey;
    margin: 0.5rem 0 0 0;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
  .card--stat:hover {
    color: var(--bg-clr);
  }

/* Анимация */
@keyframes circle-to-square {
  from {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 50px;
  }
  to {
    width: 100%;
    height: 100%;
  }
}
